/// <reference types='vitest' />
import { defineConfig } from 'vite';

import { nxViteTsPaths } from '@nx/vite/plugins/nx-tsconfig-paths.plugin';

export default defineConfig({
  cacheDir: '<%= offsetFromRoot %>node_modules/.vite/<%= name %>',
  plugins: [nxViteTsPaths()],
  test: {
    globals: true,
    cache: { dir: '<%= offsetFromRoot %>node_modules/.vitest' },
    environment: 'jsdom',
    include: ['src/**/*.{spec}.{ts,tsx}'],
  },
});
