{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "<%= offsetFromRoot %>dist/out-tsc"
  },
  "files": ["<%= offsetFromRoot %>@types/router.d.ts"],
  "include": ["src/**/*.ts", "src/**/*.tsx"],
  "exclude": ["src/**/*.spec.ts", "src/**/*.spec.tsx", "**/*.stories.tsx"]
}
